<menu id="menu">
    <a id="logo" href="/" class="logo">
        <div class="boldFont font-size29">RANDOMITY
            <img src="drawable/cubesLogo.png" alt="лого"
                 style="height: 43px; width: 53px; margin: -10px">
        </div>
    </a>
    <div class="normalFont menu-links font-size16">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About us</a>
        <a class="nav-link" href="/randomityWheel">RandomityWheel</a>
        <a class="nav-link" href="/list">GeneratorsList</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="registration-nav-link" href="/reg">Register</a>
    </div>
</menu>