<menu id="menu">
    <div id="logo" class="logo">
        <div class="boldFont29">RANDOMITY
            <img src="drawable/cubesLogo.png" alt="лого"
                 style="height: 43px; width: 53px; margin: -10px">
        </div>
    </div>
    <div class="normalFont16 menu-links">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">About us</a>
        <a class="nav-link" href="#">Random</a>
        <a class="nav-link" href="#">Login</a>
        <a class="registration-nav-link" href="#">Register</a>
    </div>
</menu>