.orange-button {
    align-items: center;
    background-color: #FA9021;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    max-width: 195px;
    min-height: 53px;
    min-width: 0;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.orange-button:hover,
.orange-button:focus {
    background-color: #FA6F21;
    color: #ffffff;
}

.orange-button:active {
    background: #FA6F21;
    color: rgb(255, 255, 255, .7);
}

.orange-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}